* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montseratt', sans-serif;
}

.app {
  
}

main {
  min-height: 100vh;
  background-image: linear-gradient(#ff8a00, #e52e71);
}